.App {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;

    background-color: #11111b;
    color: #94e2d5;
}

.main {
    color: #94e2d5;
}

.link {
    color: #fab387;
}

.subtitle {
    color: #7f849c;
}

.content {
    color: #89dceb;
}

.main-background {
    background-color: #11111b;
}
